/*
    This is a comment
*/


:root{
    /* Fonts*/
    --main-font-primary: 'Quicksand', sans-serif;
    --main-font-secondary: "Monterrat", sans-serif;
    --main-font-tertiary: 'Open Sans', sans-serif;
    
    /*Colors */
    --main-color-blue: #333366;
    --main-color-white: #ffffff;
    --main-color-black: #040404;
    --main-color-light1: #E0A987;
    --main-color-light2: #6BB347;
    --main-color-dark1: #664A38;
    --main-color-dark2: #41662E;
}

html {
    font-size: 0.8rem;
}

h1{ 
    font-family: var(--main-font-primary);
    text-align: center;
    margin: 5vh;
    
        
}
h2{
    font-family: var(--main-font-primary);
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

#subheader{
/*    color: var(--main-color-dark1);*/

     background-color: rgba(255,255,255, 0.7);
    margin: 30vh;
    
}
#small-logo-about-me{
    padding-top: 7vh;
    
}
#subheader-padding{
    padding-bottom:5vh
}
    
.col-2{
    font-size: 2rem;
    text-align: center
    

}
.navigation_bar{
      
    
}
#bio{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

#description{
     max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}
.banner{
    background-image: url("../img/lightbackground.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
   
}

h3, h4, h5, h6{
    font-family: var(--main-font-primary);
    color: var(--main-color-black);
    text-align:center;
    margin:25px;
    margin-left: 200px;
    margin-right: 200px;
}

p{
    font-family:var(--main-font-tertiary);
    font-size:1rem;
    color: var(--main-color-black);
    margin:25px;
}

.left-aligned {
    display:block;
    margin-left: 10vh;
    margin-right: auto;
    width: 20%;
}

#sec_abo{
    background-color: var(--main-color-white);
    text-align:center;
}

.headshot{
    padding:2vh
}
/* unvisited link*/
#sec_lan a:link{
    color: var(--main-color-light2);
}

/* visited link */
#sec_lan a:visited{
    color: var(--main-color-dark1);
}
/* mouse over link - hover */
#sec_lan a:hover{
    color: var(--main-color-dark2);
}

/* selected link*/
#sec-lan a:active{
    color: var(--main-color-dark2);
}
/* unvisited link*/
#sec_lan a.btn-primary:link{
    color: var(--main-color-white);
    background-color: var(--main-color-light2);
    border-color: var(--main-color-light2);
    box-shadow: none;
}
#sec_lan a.btn-primary:visited{
    color: var(--main-color-white);
    background-color: var(--main-color-light2);
    border-color: var(--main-color-light2);
    box-shadow: none;
}
#sec_lan a.btn-primary:hover{
    color: var(--main-color-white);
    background-color: var(--main-color-dark2);
    border-color: var(--main-color-light2);
    box-shadow: none;
}
#sec_lan a.btn-primary:active{
    color: var(--main-color-white);
    background-color: var(--main-color-dark2);
    border-color: var(--main-color-light2);
    box-shadow: none;
}

